# core packages
google-cloud-storage
click
dask-gateway
pandas
xarray
matplotlib
numpy
bottleneck
tqdm
gitpython
rasterio
zarr
geopandas
fsspec
gcsfs

# testing packages
pytest
flake8
coverage
Sphinx
pyyaml
pytest-cov
pytest-runner
pytest-mock
ruamel.yaml
