# core packages
google-cloud-storage
click
dask-gateway
pandas
xarray
matplotlib
numpy
bottleneck

# testing packages
pytest
wheel
flake8
tox
coverage
Sphinx
pyyaml
pytest-cov
pytest-runner
pytest-mock
twine
dask-gateway-server[local]
ruamel.yaml
rpy2

# setuptools_scm